.game-card {
  height: 100vh;
  font-family: "Open Sans", monospace;
}

.form-group {
  margin-inline: auto;
  padding: 5px;
  width: auto;
}

label {
  margin: 0 20px;
}

h1 {
  text-align: center;
  color: brown;
}